@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/* global styles */
:root {
   background-color: #ffffff;
}

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

.App * {
   box-sizing: border-box;
} 

.App {
   text-align: center;
   overflow: hidden;
   padding: 2% 5%;
   min-height: 100vh; 
   background-image: url('../images/city_bkgd2.webp');
   background-size: cover;
   background-position: top center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover; 
}

ul {
   padding: 0;
   list-style: none;
}

p {
   margin: 5px 0;
}

/* Styling for the input boxes */
input[type="text"],
input[type="number"] {
   padding: 8px 6px 8px 10px;
   border-radius: 8px;
   outline: none;
   border: 1px solid #ccc;
   font-size: 14px;
   line-height: 20px;
   align-self: center;
   height: 38px;
   margin-bottom: 20px;
}

.number-of-events {
   width: 50px;
}

/* Styling for the city input */
.city {
   width: 250px;
}

#city-search {
   display: flex;
   flex-direction: column;
   margin: auto;
   position: relative;
}

/* Styling for the suggestions list */
.suggestions {
   width: 250px;
   position: absolute;
   top: 45px;
   z-index: 2;
   align-self: center;
   margin: 0;
   font-size: 14px;
   box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
   text-align: left;
   padding: 8px 6px 8px 10px;
   background-color: #eee;
   cursor: default;
}

.suggestions>li:last-child {
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
   background-color: #bcdcdb;
}

/* Styling for the event list */
.event-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
}

/* Styling for each event */
.event {
   padding: 10px 10px 35px;
   margin-bottom: 10px;
   text-align: center;
   border: 1px solid #ccc;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.9);
   box-sizing: border-box;
   width: 400px;
   min-height: 280px;
}

/* Styling for show-details button */
.details-btn {
   position: center;
   right: 5px;
   bottom: 5px;
   padding: 12px 20px;
   border-radius: 8px;
   outline: none;
   cursor: pointer;
   font-size: 18px;
   background-color: #0c0c5c;
   color: white;
   border: none;
   transition: background-color 0.3s ease;
}

.details-btn:hover {
   background-color: #121695;
}

/* Styling for loading message */
.loading-message {
   text-align: center;
 }
 
 @keyframes blink {
   0% { opacity: 0; }
   50% { opacity: 1; }
   100% { opacity: 0; }
 }
 
 .loading-dots span {
   animation: blink 1.4s infinite both;
   margin: 0 2px;
 }
 
 .loading-dots span:nth-child(2) {
   animation-delay: 0.2s;
 }
 
 .loading-dots span:nth-child(3) {
   animation-delay: 0.4s;
 }